@using Redis.Utilities.Helper;
@using RedisSessionState_Poc.ViewModels;
@using Newtonsoft.Json;
@{
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>("UserObject");

    string message = userViewModel != null ? JsonConvert.SerializeObject(userViewModel) : "No Object";
}

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("ClearSession", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Clean Session" />
        </div>
    </div>
}

<p>@message</p>

